<div id="ournaropa_forum_home_welcome" class="container">
  <h1 class="center-align">Welcome!</h1>
  
  <div class="row">
    <div class="col s12">
      <p>This is a place for incoming Naropa students to get to know each other and to interact with current students.<br/><br/>Right now we are in a beta testing phase and access is limited to a few select individuals. If you would like to be involved and help us test, please contact Finn at fwoelm@students.naropa.edu.<br/><br/>This forum is made by students for students. That is a wonderful thing, but please note that this website is <strong>not</strong> an official Naropa website. The official Naropa website can be found at <a href="http://www.naropa.edu" target="_blank">naropa.edu</a>.</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col s12 m6 center-align">
      <h4>New? Sign up!</h4>
      <p>Sign up in three simple steps:</p>
      <ol>
        <li>Click the button below</li>
        <li>Enter your email address</li>
        <li>Set a new password</li>
      </ol>
      <%= link_to signup_path, class: "btn-large waves-effect waves-light" do %>
        <i class="material-icons left">check_box</i> Sign Up
      <% end %>
    </div>
    
    <div class="row hide-on-med-and-up">
      <div class="col s12">
        <div class="section"></div>
        <div class="divider"></div>
      </div>
    </div>
    
    <div class="col s12 m6 center-align">
      <h4>Log In</h4>
      <%= link_to login_path, class: "btn-large waves-effect waves-light" do %>
        <i class="material-icons left">vpn_key</i> Log In
      <% end %>
      <br/><br/>
      <%= render partial: '/ournaropa_forum/passwords/forgot_password_button' %>
    </div>
    
  </div>
  

</div>
