<div id="ournaropa_forum_home_welcome" class="container">
  <h1>Home#welcome</h1>
  <p>Find me in app/views/ournaropa_forum/home/welcome.html.erb</p>
  
  <%= link_to "Sign Up", signup_path %><br/><br/>
  <%= link_to "Log In", login_path %>
</div>
