<div id="ournaropa_forum_registrations_create" class="container">

  <div class="row">
    <div class="col l2 m3 s12 center-align">
      <div class="section"></div>
      <i class="material-icons superlarge green-text">check_circle</i>
    </div>
  
    <div class="col l10 m9 s12">
      <h1>Ready to go!</h1>
      <p>Your account has been created and you're all set to go. We just sent you an email with a link to set a password.</p>
    </div>
    
  </div>
  
</div>