<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey there, <%= @user.name %>!</h1>
    <p>Did you request to have your password reset? Someone sure did. Anyway, here is how to go about it:</p>
    <ol>
      <li>Click here to begin: <a href="<%= new_password_after_reset_url(@user.id, @user.reset_token) %>"><%= new_password_after_reset_url(@user.id, @user.reset_token) %></a></li>
      <li>Enter a new password and type it again to confirm</li>
      <li>Click "Save" and you're already ready to go</li>
    </ol>
    </p>
  </body>
</html>
