<div id="ournaropa_forum_registrations_create" class="container">

  <div class="row">
    <div class="col l2 m3 s12 center-align">
      <div class="section"></div>
      <i class="material-icons superlarge green-text">check_circle</i>
    </div>
  
    <div class="col l10 m9 s12">
      <h1>Password Recovery en route!</h1>
      <p>We just send off an email with instructions to help you set a new password. Soon to be found in inboxes near you.</p>
    </div>
    
  </div>
  
</div>