<div class="container">

<h1>Directory</h1>

  <div class="row">

    <% @users.each do |user| %>
      <div class="col s12 m6 l3">

        <%= render :partial => "ournaropa_forum/conversations/render_author", :locals => {:author => user} %>

        <div class="section hide-med-and-up"></div>
        
      </div>
    <% end %>
  
  </div>

</div>

<script type="text/javascript">
  $('.modal-trigger').leanModal();
</script>